<style>
            body  {
              background-image: url(https://scontent-dfw5-1.cdninstagram.com/vp/bba80e3cfd747d82ecf2064b02b29b1e/5D2B2EC6/t51.2885-15/e35/18252284_452063345138828_2668835739352956928_n.jpg?_nc_ht=scontent-dfw5-1.cdninstagram.com);
              background-repeat: no-repeat;
              background-size: 100% ;
            }
      </style>


<br>
<div class="login_background">
  <h2>
Welcome to Cocktailor!</h2>
<h2>
<%= link_to "Click here to login", new_session_path %>
  </h2>
</div>
