<h2>Recipe Page:</h2>
<ul>
<label>Name:</label> 
<%= @recipe.name %><br>

<label>Description: </label>
<%= @recipe.description %><br>

<label>Glass Type:</label>
<%=@recipe.glass_type%><br>

<label>Category: </label>
<%= @recipe.category %><br>

</ul>