<h1>List of Users:</h1>

<p><%= link_to "Click here to Create a new user", new_user_path, class: 'btn btn-primary'%></li>
<ul>
    <% @users.each do |u|%>
       <li> <%= link_to u.first_name, user_path(u)%></li>
    <% end %>
</ul>