<h3><%= link_to "Click here to create new Ingredient", new_ingredient_path%></h3>

<h2>Main Ingredients</h2>
<ul>
<% @main_ingredients.each do |i|%>
    <li><%= link_to i.name, i %></li>
<% end %>
</ul>

<h2>Special Ingredients</h2>
<ul>
<% @special_ingredients.each do |i|%>
    <li><%= link_to i.name, i %></li>
<% end %>
</ul>
